# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cmake-build-debug/JUCE/tools/.ninja_deps
/cmake-build-debug/.ninja_deps
/cmake-build-debug/JUCE/tools/.ninja_log
/cmake-build-debug/.ninja_log
/cmake-build-debug/JUCE/tools/build.ninja
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ce4bf032c0d923f7f492.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/JUCE/tools/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/cmake.verify_globs
/cmake-build-debug/JUCE/tools/CMakeFiles/cmake.verify_globs
/cmake-build-debug/JUCE/extras/Build/juceaide/cmake_install.cmake
/cmake-build-debug/JUCE/extras/Build/cmake_install.cmake
/cmake-build-debug/JUCE/modules/cmake_install.cmake
/cmake-build-debug/JUCE/tools/extras/Build/juceaide/cmake_install.cmake
/cmake-build-debug/JUCE/tools/extras/Build/cmake_install.cmake
/cmake-build-debug/JUCE/tools/modules/cmake_install.cmake
/cmake-build-debug/JUCE/tools/cmake_install.cmake
/cmake-build-debug/JUCE/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/JUCE/tools/CMakeCache.txt
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/JUCE/tools/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/JUCE/tools/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/JUCE/tools/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/JUCE/tools/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/JUCE/tools/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/JUCE/tools/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/JUCE/tools/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-0d1304f3974e90ea7c60.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/JUCE/tools/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/JUCE/tools/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-9ef8d3bdd4073a4f8d65.json
/cmake-build-debug/Piferi_Exam_artefacts/Debug/AU/Piferi_Exam.component/Contents/_CodeSignature/CodeResources
/cmake-build-debug/Piferi_Exam_artefacts/Debug/VST3/Piferi_Exam.vst3/Contents/_CodeSignature/CodeResources
/cmake-build-debug/JUCE/tools/extras/Build/juceaide/juceaide_artefacts/JuceLibraryCode/Debug/Defs.txt
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Debug/Defs.txt
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/directory-JUCE.extras.Build.juceaide-Debug-0b05d455485eb843a1b3.json
/cmake-build-debug/.cmake/api/v1/reply/directory-JUCE.extras.Build-Debug-a1d83fc377b337a61f24.json
/cmake-build-debug/.cmake/api/v1/reply/directory-JUCE.modules-Debug-5e319085a6573a9a6b20.json
/cmake-build-debug/.cmake/api/v1/reply/directory-JUCE-Debug-84d77e5ca8d727bee412.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-06-25T08-04-01-0926.json
/cmake-build-debug/Piferi_Exam_artefacts/Debug/AU/Piferi_Exam.component/Contents/Info.plist
/cmake-build-debug/Piferi_Exam_artefacts/Debug/VST3/Piferi_Exam.vst3/Contents/Info.plist
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_AU/Info.plist
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_Standalone/Info.plist
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_VST3/Info.plist
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Info.txt
/cmake-build-debug/JUCE/tools/juce_lv2_helper
/cmake-build-debug/JUCE/tools/extras/Build/juceaide/juceaide_artefacts/Debug/juceaide
/cmake-build-debug/JUCE/tools/JUCEConfig.cmake
/cmake-build-debug/JUCE/JUCEConfig.cmake
/cmake-build-debug/JUCE/tools/JUCEConfigVersion.cmake
/cmake-build-debug/JUCE/JUCEConfigVersion.cmake
/cmake-build-debug/JUCE/tools/JUCEExportConfig.cmake
/cmake-build-debug/JUCE/JUCEExportConfig.cmake
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/JuceHeader.h
/cmake-build-debug/JUCE/tools/JUCEToolsExport.cmake
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/JUCE/tools/CMakeFiles/Export/0a8757d299ae06c55806401f6461d0d1/LV2_HELPER.cmake
/cmake-build-debug/JUCE/tools/CMakeFiles/Export/0a8757d299ae06c55806401f6461d0d1/LV2_HELPER-debug.cmake
/cmake-build-debug/markov-expts
/cmake-build-debug/Piferi_Exam_artefacts/Debug/AU/Piferi_Exam.component/Contents/MacOS/Piferi_Exam
/cmake-build-debug/Piferi_Exam_artefacts/Debug/VST3/Piferi_Exam.vst3/Contents/MacOS/Piferi_Exam
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_AU.entitlements
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_Standalone.entitlements
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_VST3.entitlements
/cmake-build-debug/Piferi_Exam_artefacts/Debug/AU/Piferi_Exam.component/Contents/PkgInfo
/cmake-build-debug/Piferi_Exam_artefacts/Debug/VST3/Piferi_Exam.vst3/Contents/PkgInfo
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_AU/PkgInfo
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_Standalone/PkgInfo
/cmake-build-debug/Piferi_Exam_artefacts/JuceLibraryCode/Piferi_Exam_VST3/PkgInfo
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/JUCE/tools/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-markov-expts-Debug-ecbc511ed57244055b48.json
/cmake-build-debug/.cmake/api/v1/reply/target-markov-lib-Debug-76cf3a543ef8a4d0d02e.json
/cmake-build-debug/.cmake/api/v1/reply/target-Piferi_Exam-Debug-8da79219a0b1df5192df.json
/cmake-build-debug/.cmake/api/v1/reply/target-Piferi_Exam_All-Debug-866a9f000228ba0e1610.json
/cmake-build-debug/.cmake/api/v1/reply/target-Piferi_Exam_AU-Debug-e7ae185913728be4819a.json
/cmake-build-debug/.cmake/api/v1/reply/target-Piferi_Exam_Standalone-Debug-cddff7896b38e1a9e42d.json
/cmake-build-debug/.cmake/api/v1/reply/target-Piferi_Exam_VST3-Debug-4cc06d48dd72a9dc06f6.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/JUCE/tools/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-d0502afa689c6663d341.json
/cmake-build-debug/CMakeFiles/VerifyGlobs.cmake
/cmake-build-debug/JUCE/tools/CMakeFiles/VerifyGlobs.cmake
